<div hlmSidebarWrapper @fadeSlide>
  <hlm-sidebar>
    <div hlmSidebarContent>
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel>Application</div>
        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for(item of _items; track item.title){
            <li hlmSidebarMenuItem>
              <a hlmSidebarMenuButton [routerLink]="item.path">
                <ng-icon hlm [name]="item.icon" />
                <span>{{ item.title }}</span>
                  </a>
                </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </hlm-sidebar>
  <ng-content />
</div>
