:host {
  display: block;
  min-height: 100vh;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.5;
}

select option {
  background: #1c1b1b;
  color: #e5e2e1;
}
