#app-content {
  transition: filter 0.4s ease-in-out;
  min-height: 100vh;
}

#app-content.blur-active {
  filter: blur(5px);
  pointer-events: none;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.loader-overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
